header{
    background-color: #E8CB51;
}
#title {
  text-align: center;
  margin : 0;
  padding-top: 1%;
  padding-bottom: 0;
  font-weight: bold;
}
#subtitle{
 font-size: 120%;
 text-align: center;
 padding-bottom: 1%;
 font-weight: bold;
 margin: 0;

}
/*-------------------- BODY ---------------------*/

#creator{
  height: 800px;
  background-color: #FF7040;
}
#creator p{
  font-weight: bold;
  font-size: 250%;
  padding-top: 0.8%;
  color: white;
  text-align: center;
  text-shadow: 0 2px black;
}
#last_creation{
  height: 800px;
  background-color: #C95BE8;
  border-left: 5px dotted white;
}
#last_creation p{
  font-weight: bold;
  font-size: 250%;
  padding-top: 0.8%;
  color: white;
  text-align: center;
  text-shadow: 0 2px black;
}
#front{
  height: auto;
  width: auto;
  margin-left: 13%;
}
#afficher-front{
  width: auto;
}
#yeux{
  height: auto;
  margin-left: 13%;
}
#nez{
  background-color: red;
  height: auto;
  width: 650px;
  margin-left: 13%;
}
#bouche{
  background-color: blue;
  height: auto;
  width: 650px;
  margin-left: 13%;
}
body .btn{
  margin-top: 2%;
  margin-left: 13%;
}
body input{
  margin-top: 5%;
}
.envoyer button{
  margin-top: 4%;
  margin-left: 2%;
}
.envoyer{
  margin-right: 0;
}
.twitter-share-button{

}
/*------------------------ FOOTER ------------------------*/
#footer{
  background-color: #E8CB51;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.3%;
  font-weight: bold;

}
