header{
    background-color: #E8CB51;
}
#title {
  text-align: center;
  margin : 0;
  padding-top: 1%;
  padding-bottom: 0;
  font-weight: bold;
}
#subtitle{
 font-size: 120%;
 text-align: center;
 padding-bottom: 1%;
 font-weight: bold;
}

/*-------------------- BODY ---------------------*/

#creator{
  height: 585px;
  background-color: #FF7040;
}
#creator p{
  font-weight: bold;
  font-size: 190%;
  padding-top: 0.8%;
  color: white;
  text-align: center;
}
#last_creation{
  height: 585px;
  background-color: #C95BE8;
  border-left: 5px dotted white;
}
#last_creation p{
  font-weight: bold;
  font-size: 190%;
  padding-top: 0.8%;
  color: white;
  text-align: center;
}
#front{
  background-color: black;
  height: auto;
  width: 650px;
  margin-left: 10%;
}
#yeux{
  background-color: green;
  height: auto;
  width: 650px;
  margin-left: 10%;
}
#nez{
  background-color: red;
  height: auto;
  width: 650px;
  margin-left: 10%;
}
#bouche{
  background-color: blue;
  height: auto;
  width: 650px;
  margin-left: 10%;
}
body .btn{
  margin-left: 40%;
  margin-top: 25%;
}
body input{
  margin-left: 20%;
  margin-top: 1%;
}
.envoyer button{
  margin-top: 5px;
  margin-left: 3px;
}
/*------------------------ FOOTER ------------------------*/
#footer{
background-color: #E8CB51;
  text-align: center;
  padding-top: 1%;
  margin-top: 0.65%;
  padding-bottom: 1%;
  font-weight: bold;

}
