header{
    background-color: #E8CB51;
}
#title {
  text-align: center;
  margin : 0;
  padding-top: 1%;
  padding-bottom: 0;
  font-weight: bold;
}
#subtitle{
 font-size: 120%;
 text-align: center;
 padding-bottom: 1%;
 font-weight: bold;
 margin: 0;

}
/*-------------------- BODY ---------------------*/

#creator{
  height: auto;
  background-color: #FF7040;
}
#creator p{
  font-weight: bold;
  font-size: 300%;
  padding-top: 0.8%;
  color: white;
  text-align: center;
  text-shadow: 0 2px black;
}
#last_creation{
  height: auto;
  background-color: #C95BE8;
  border-left: 5px dotted white;
}
canvas{
    max-width: 100%;
    max-height: 100%;
}
#last_creation p{
  font-weight: bold;
  font-size: 300%;
  padding-top: 0.8%;
  color: white;
  text-align: center;
  text-shadow: 0 2px black;
}
body .btn{
  margin-top: 2%;
  margin-left: 13%;
}

body input{
  margin-top: 5%;
}
.envoyer button{
  margin-top: 4%;
  margin-left: 4%;
  margin-bottom: 4%;
}
.envoyer{
  margin-right: 0;
}
.twitter-share-button{
 margin-top: 5%;
}
#buttonnn
{
  margin-left: 57%;
  margin-top: 5%;
  background-color: #e8cb51;
  border-color: #e8cb51;
  font-weight: bolder;
}
#url
{
  width: 55%;
}
#copier
{
  background-color: #e8cb51;
  border-color: #e8cb51;
  font-weight: bolder;
}
#Tt
{
  background-color: #007ccb;
  padding-left: 3%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #fff;
  font-weight: bolder;
}

/*------------------------ FOOTER ------------------------*/
#footer{
  background-color: #E8CB51;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.3%;
  font-weight: bold;

}
/*-------------------------------- Slider --------------*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../images/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('../images/a12.png') no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }


#photoo{
    width:65%;
    margin: auto;
}
