header{
    background-color: #E8CB51;
}
#title {
  text-align: center;
  margin : 0;
  padding-top: 1%;
  padding-bottom: 0;
  font-weight: bold;
}
#subtitle{
 font-size: 120%;
 text-align: center;
 padding-bottom: 1%;
 font-weight: bold;
 margin: 0;

}
/*-------------------- BODY ---------------------*/

#creator{
  height: 800px;
  background-color: #FF7040;
}
#creator p{
  font-weight: bold;
  font-size: 250%;
  padding-top: 0.8%;
  color: white;
  text-align: center;
  text-shadow: 0 2px black;
}
#last_creation{
  height: 800px;
  background-color: #C95BE8;
  border-left: 5px dotted white;
}
#last_creation p{
  font-weight: bold;
  font-size: 250%;
  padding-top: 0.8%;
  color: white;
  text-align: center;
  text-shadow: 0 2px black;
}
#front{
  height: 100%;
  width: 100%;
}
#yeux{
  height: auto;
}
#nez{
  height: auto;
  width: 650px;
}
#bouche{
  height: auto;
  width: 650px;
  margin-left: 14.3%;
}
body .btn{
  margin-top: 2%;
  margin-left: 13%;
}
body input{
  margin-top: 5%;
}
.envoyer button{
  margin-top: 4%;
  margin-left: 2%;
}
.envoyer{
  margin-right: 0;
}
.twitter-share-button{

}
/*------------------------ FOOTER ------------------------*/
#footer{
  background-color: #E8CB51;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.3%;
  font-weight: bold;

}
/*-------------------------------- Slider --------------*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../images/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('../images/a12.png') no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
